$orange: rgba(233, 189, 62, 1);
$darkOrange: rgba(193, 87, 73, 1);
$black: #000;

//phone
@media screen and (max-width: 768px) {
    .header {
        background-image: url('/images/homeBackground.webp');
        background-size: cover;
        padding-top: 66px;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
    }
    
    .headerInfo {
        margin-left: 14px;
        margin-right: 14px;
        border-radius: 10px;
        max-width: 678px;
        padding-top: 63px;
        padding-bottom: 63px;
    }

    .headerBigTitle {
        font-size: 58px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
    }
    
    .bigTitle {
        font-size: 58px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
        text-align: center;
    }
    
    .hdDescription {
        max-width: 70%;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 29px;
        font-weight: 500;
    }
    
    .facts {
        max-width: 600px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        justify-content: space-between;
        p {
            font-weight: 500;
            margin-top: 5px;
            font-size: 14px;
        }
    }
    
    .footerItems {
        display: flex;
        // align-items: center;
        // justify-content: center;
        gap: 20px;
        margin-top: 32px;
    }
    
    .headerEvent {
        background-color: $black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        height: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        border: 1px solid $darkOrange;
    }
    
    .rectangle {
        background-image: url('/images/rectangle.webp');
        background-size: cover;
        height: 15px;
        margin-top: 65px;
    }
    
    .blocksWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blocksInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 36px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 47px;
        margin-bottom: 80px;
    }
    
    .invertRectangle {
        background-image: url('/images/invertRectangle.webp');
        background-size: cover;
        height: 30px;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
    }
    
    .allEvents {
        background-image: url('/images/eventsBackground.webp');
        background-size: cover;
        padding-top: 67px;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
        padding-bottom: 113px;
    }
    
    .eventItems {
        padding-right: 40px;
        margin-top: 33px;
    }
    
    .pastEvents {
        padding-top: 94px;
        padding-bottom: 111px;
        margin-left: 35px;
        margin-right: 35px;
    }
    
    .pastEventItems {
        margin-top: 29px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .footer {
        padding-top: 106px;
        margin-left: 20px;
        margin-bottom: 145px;
    }
    
    .title {
        font-size: 40px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
    }
    
    .orangeTitle {
        font-size: 40px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;

        color: $orange;
    }
    
    .footerItem {
        display: flex;
        gap: 11px;
        padding-bottom: 20px;
    }
    
    .footerDescription {
        max-width: 80%;
        margin-top: 18px;
        margin-bottom: 48px;
        font-size: 18px;
        font-weight: 500;
        line-height: 29px;
    }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 998px) {
    .header {
        background-image: url('/images/homeBackground.webp');
        background-size: cover;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
        padding-top: 66px;
    }
    
    .headerInfo {
        margin-left: 35px;
        margin-right: 40px;
        border: 2px solid $orange;
        border-radius: 10px;
        max-width: 678px;
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 46px;
        padding-right: 46px;
    }

    .headerBigTitle {
        font-size: 82px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
    }
    
    .bigTitle {
        font-size: 82px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
        text-align: center;
    }
    
    .hdDescription {
        max-width: 683px;
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 29px;
        font-weight: 500;
    }
    
    .facts {
        max-width: 600px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        justify-content: space-between;
        p {
            font-weight: 500;
            margin-top: 5px;
            font-size: 16px;
        }
    }
    
    .footerItems {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-top: 40px;
    }
    
    .headerEvent {
        background-color: $black;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        height: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border: 1px solid $darkOrange;
    }
    
    .rectangle {
        background-image: url('/images/rectangle.webp');
        background-size: cover;
        height: 15px;
        margin-top: 65px;
    }
    
    .blocksWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blocksInfo {
        display: flex;
        justify-content: center;
        width: 609px;
        flex-wrap: wrap;
        gap: 36px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 47px;
        margin-bottom: 80px;
    }
    
    .invertRectangle {
        background-image: url('/images/invertRectangle.webp');
        background-size: cover;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
        height: 30px;
    }
    
    .allEvents {
        background-image: url('/images/eventsBackground.webp');
        background-size: cover;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
        padding-top: 67px;
        padding-bottom: 113px;
    }
    
    .eventTitle {
        padding-left: 40px;
    }
    
    .eventItems {
        padding-right: 40px;
        margin-top: 33px;
    }
    
    .pastEvents {
        padding-top: 94px;
        padding-bottom: 111px;
        margin-left: 35px;
        margin-right: 35px;
    }
    
    .pastEventItems {
        margin-top: 29px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .footer {
        padding-top: 106px;
        margin-left: 40px;
        margin-bottom: 50%;
    }
    
    .title {
        font-size: 64px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
        height: 41px;
    }
    
    .orangeTitle {
        font-size: 64px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
        height: 41px;
        color: $orange;
    }
    
    .footerItem {
        display: flex;
        gap: 11px;
        padding-bottom: 20px;
        align-items: center;
    }
    
    .footerDescription {
        max-width: 80%;
        margin-top: 18px;
        margin-bottom: 48px;
        font-size: 18px;
        font-weight: 500;
        line-height: 29px;
    }
}

//desktop
@media screen and (min-width: 998px) {
    .main {
        width: 100%;
    }

    .adaptiveBackground {
        max-width: 1440px;
        width: 100%;

        margin: 0 auto;
        box-sizing: border-box;

       
    }

    .header {
        background-image: url('/images/homeBackground.webp');
        background-size: cover;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
        padding-top: 105px;
    }
    
    .headerInfo {
        margin-left: 40px;
        margin-right: 40px;
        border: 2px solid $orange;
        border-radius: 10px;
        max-width: 783px;
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 46px;
        padding-right: 46px;
    }

    .headerBigTitle {
        font-size: 96px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
    }
    
    .bigTitle {
        font-size: 96px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
        padding-left: 40px;
    }
    
    .hdDescription {
        max-width: 683px;
        margin-bottom: 16px;
        font-size: 22px;
        line-height: 29px;
        font-weight: 500;
    }
    
    .facts {
        max-width: 600px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        justify-content: space-between;
        p {
            font-weight: 500;
            margin-top: 5px;
        }
    }
    
    .footerItems {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-top: 40px;
    }
    
    .headerEvent {
        background-color: $black;
        text-transform: uppercase;
        font-weight: 600;
        height: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 13px;
        padding-right: 13px;
        border-radius: 5px;
        border: 1px solid $darkOrange;
    }
    
    .rectangle {
        background-image: url('/images/rectangle.webp');
        background-size: cover;
        height: 25px;
        margin-top: 179px;
    }
    
    .blocksWrap {
        max-width: 1440px;
        width: 100%;

        margin: 0 auto;
        box-sizing: border-box;
    }

    .blocksInfo {
        display: flex;
        justify-content: space-between;
        gap: 27px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 106px;
        margin-bottom: 80px;
    }
    
    .invertRectangle {
        background-image: url('/images/invertRectangle.webp');
        background-size: cover;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
        height: 30px;
    }
    
    .allEvents {
        background-image: url('/images/eventsBackground.webp');
        background-size: cover;
        background-position: center bottom; /* Прижимаем изображение к нижней части */
        padding-top: 67px;
        padding-bottom: 113px;
    }
    
    .eventItems {
        padding-right: 40px;
        margin-top: 33px;
    }
    
    .pastEvents {
        padding-top: 94px;
        padding-bottom: 120px;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
    
    .pastEventItems {
        margin-top: 29px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        margin-left: 40px;
        margin-right: 40px;
    }
    
    .footer {
        padding-top: 106px;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 230px;
    }
    
    .title {
        font-size: 64px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
        line-height: 100%;
    }
    
    .orangeTitle {
        font-size: 64px;
        font-family: 'Bebas Neue Regular';
        font-weight: 700;
        // height: 41px;
        line-height: 100%;
        color: $orange;
    }
    
    .footerItem {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-left: 40px;
        flex-direction: row;
    }
    
    .footerDescription {
        margin-left: 40px;
        max-width: 80%;
        margin-top: 18px;
        margin-bottom: 48px;
        font-size: 22px;
        font-weight: 500;
        line-height: 29px;
    }
}