$orange: rgba(233, 189, 62, 1);
$gray: rgba(168, 168, 168, 1);
$white: #fff;

//phone
@media screen and (max-width: 768px) {
    .content {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .header {
        padding-top: 97px;
        padding-bottom: 48px;
        gap: 10px;
    }
    
    .bigTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 58px;
        color: $white;
    }
    
    .fullInfo {
        margin-top: 30px;
    }
    
    .list {
        margin-left: 15px;

    }
    
    .mapImg {
        max-width: 80%;
        height: 248px;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    
    .bigOrangeTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 58px;

        color: $orange;
    }
    
    .subtitle {
        font-family: 'Bebas Neue Regular';
        color: $orange;
        font-size: 64px;
    }
    
    .smallTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 24px;
    }
    
    .title {
        font-family: 'Noto Sans';
        font-weight: 500;
        font-size: 16px;
        margin-top: 20px;
    }
    
    .text {
        font-family: 'Noto Sans';
        font-size: 14px;
    }
    
    .registration {
        margin-top: 58px;
    }
    
    
    .cards {
        margin-top: 32px;
        margin-bottom: 96px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .footer {
        background-size: cover;
        border: 2px solid $gray;
        height: 1033px;
        border-radius: 10px;
        padding-right: 40px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .items {
        margin-top: 84px;
        margin-left: 31px;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .squadTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 40px;
        padding-bottom: 39px;
    }

    .eventPlatoons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 998px) {
    .content {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .header {
        padding-top: 189px;
        padding-bottom: 48px;
        gap: 10px;
    }
    
    .bigTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 82px;
        color: $white;
    }
    
    .fullInfo {
        margin-top: 30px;
    }
    
    .list {
        margin-left: 15px;
    }
    
    .mapImg {
        width: 567px;
        height: 417px;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    
    .bigOrangeTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 82px;

        color: $orange;
    }
    
    .subtitle {
        font-family: 'Bebas Neue Regular';
        color: $orange;
        font-size: 64px;
    }
    
    .smallTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 28px;
    }
    
    .title {
        font-family: 'Noto Sans';
        font-weight: 500;
        font-size: 22px;
        margin-top: 20px;
    }
    
    .text {
        font-family: 'Noto Sans';
        font-size: 18px;
    }
    
    .registration {
        margin-top: 64px;
    }
    
    
    .cards {
        margin-top: 32px;
        margin-bottom: 96px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .footer {
        background-size: cover;
        border: 2px solid $gray;
        height: 1033px;
        border-radius: 10px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .items {
        margin-top: 84px;
        margin-left: 31px;
        gap: 40px;
        display: flex;
        flex-direction: column;
    }

    .squadTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 60px;
        padding-bottom: 39px;
    }

    .eventPlatoons {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

//desktop
@media screen and (min-width: 998px) {
    .content {
        margin-left: 40px;
        margin-right: 40px;
        max-width: 1440px;
    }
    
    .header {
        padding-top: 189px;
        padding-bottom: 48px;
        gap: 10px;
    }
    
    .bigTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 96px;
    }
    
    .fullInfo {
        margin-top: 30px;
    }
    
    .list {
        margin-left: 15px;
        max-width: 1040px;
        width: 90vw;
        // width: 80%;
    }
    
    .mapImg {
        width: 90%;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    
    .bigOrangeTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 96px;

        color: $orange;
    }
    
    .subtitle {
        font-family: 'Bebas Neue Regular';
        color: $orange;
        font-size: 64px;
    }
    
    .smallTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 32px;
    }
    
    .title {
        font-family: 'Noto Sans';
        font-weight: 500;
        font-size: 22px;
        margin-top: 20px;
    }
    
    .text {
        font-family: 'Noto Sans';
        font-size: 18px;
    }
    
    .registration {
        margin-top: 64px;
    }
    
    
    .cards {
        margin-top: 32px;
        margin-bottom: 96px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    
    .footer {
        background-size: cover;
        border: 2px solid $gray;
        height: 1546px;
        border-radius: 10px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .items {
        margin-top: 84px;
        margin-left: 31px;
        gap: 40px;
        display: flex;
        flex-direction: column;
    }

    .squadTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 60px;
        padding-bottom: 39px;
    }

    .eventPlatoons {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}