$background: rgba(42, 34, 30, 0.7);
$orange: rgba(233, 189, 62, 1);
$white: #fff;

.header {
  max-width: 1440px;
  width: 100%;
  background-color: $background;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 33px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.title {
  color: $white;
  text-decoration: none;
  font-family: 'Noto Sans';
  font-size: 18px;
  font-weight: 500;
}

.title:hover {
  color: $orange;
}