.terms {
    margin-left: 40px;
    padding-top: 173px;
    padding-bottom: 181px;
}

.title {
    font-family: 'Bebas Neue Regular';
    font-size: 96px;
}

.subtitle {
    font-size: 22px;
    font-weight: 600;
    margin-top: 51px;
}

.text {
    font-size: 18px;
    max-width: 90%;
}