$orange: rgba(233, 189, 62, 1);

//phone
@media screen and (max-width: 768px) {
    .header {
        padding-top: 74px;
        margin-left: 19px;
        margin-right: 19px;
    }
    
    .title {
        font-family: 'Bebas Neue Regular';
        font-size: 58px;
    }
    
    .stepTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 40px;
        cursor: pointer;
    }
    
    .activeStep {
        font-family: 'Bebas Neue Regular';
        font-size: 40px;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 14px;
    }
    
    .stepTitle:hover {
        font-family: 'Bebas Neue Regular';
        font-size: 40px;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 14px;
        text-decoration-color: $orange;
    }
    
    .steps {
        margin-top: 16px;
        display: flex;
        align-items: center;
        gap: 14px;
    }
    
    .events {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        gap: 32px;
        margin-bottom: 80px;
    }
    
    .main {
        padding-bottom: 112px;
    }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 998px) {
    .header {
        padding-top: 136px;
        margin-left: 35px;
        margin-right: 35px;
    }
    
    .title {
        font-family: 'Bebas Neue Regular';
        font-size: 58px;
    }
    
    .stepTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 58px;
        cursor: pointer;
    }
    
    .activeStep {
        font-family: 'Bebas Neue Regular';
        font-size: 58px;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 14px;
    }
    
    .stepTitle:hover {
        font-family: 'Bebas Neue Regular';
        font-size: 58px;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 14px;
        text-decoration-color: $orange;
    }
    
    .steps {
        margin-top: 48px;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .events {
        display: flex;
        flex-direction: column;
        margin-top: 66px;
        gap: 32px;
        margin-bottom: 80px;
    }
    
    .main {
        padding-bottom: 112px;
    }
}

//desktop
@media screen and (min-width: 998px) {
    .header {
        padding-top: 136px;
        padding-left: 40px;
        max-width: 1440px;
        margin: 0 auto;
        box-sizing: border-box;
        width: 100%;
    }
    
    .title {
        font-family: 'Bebas Neue Regular';
        font-size: 64px;
    }
    
    .stepTitle {
        font-family: 'Bebas Neue Regular';
        font-size: 64px;
        cursor: pointer;
    }
    
    .activeStep {
        font-family: 'Bebas Neue Regular';
        font-size: 64px;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 14px;
    }
    
    .stepTitle:hover {
        font-family: 'Bebas Neue Regular';
        font-size: 64px;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 14px;
        text-decoration-color: $orange;
    }
    
    .steps {
        margin-top: 48px;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    
    .events {
        display: flex;
        flex-direction: column;
        margin-top: 66px;
        gap: 32px;
        margin-bottom: 80px;
    }
    
    .main {
        padding-bottom: 112px;
    }
}